body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
}

* {
    box-sizing: border-box;
}


nav {
    overflow: hidden;
    background-color: #262322
    ;
}
  
nav a {
    float: left;
    font-size: 20px;
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff59e;
  }

nav a:hover, .dropdown:hover .dropbtn {
    background-color: #63372C;
}

#logo-main {
    padding: 0;
    margin-top: 6px;
    margin-left: 6px;
}


#logo-main img {
    width: 60px
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color: #63372C;
    color:#FFF59E
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 75s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

footer {
    width: 100%;
    background-color: #63372C;
    font-family: "Chakra Petch", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 3px solid;
    border-color:#90AB4E;
    margin: 0;             
    padding: 0;            
    box-sizing: border-box;
}

footer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer div a {
    padding: 4px;
    font-size: 15px;
    color: #FFF59E;
}

#logo-footer {
    width: 100%;
    max-width: 140px;
    height: auto;
}

.gen-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/background-collage.png");
    background-size: contain;
    background-repeat: repeat;
    padding: 10px;
    width: 100%;
}



.textbox {
    color:#63372C;
    text-align: center;
    background-color: #fef8c6;
    border: 2px dashed;
    border-radius:8px;
    padding: 17px auto;
    margin: 3px auto;
    width:90%;
}

#welcome-info {
    width: 70%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#welcome-info p {
    margin-left: auto;
    margin-right: auto; 
    max-width: 700px;
}

#index-container {
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#welcome-pic {
    max-width: 800px;
    margin: 2px auto;
    border-radius: 8px;
}

.welcome-pic-div {
    width: 70%;
    padding: 0px;
    margin: 3px auto;
}

#faq-box {
    margin: 10px;
    width: 70%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#faq-box p {
    margin-left: auto;
    margin-right: auto; 
    max-width: 700px;
    color: #63372C;
}

#faq-box h4{
    font-size: larger;
}

.textbox a {
    padding: 10px;
    color: #90AB4E;
}

.past-picks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/background-collage.png");
    background-size: contain;
    background-repeat: repeat;
    padding: 10px;
}

.book-pick {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fef8c6;
    color:#63372C;
    border: 2px dashed;
    border-color: #63372C;
    border-radius:8px;
    width: 40%;
    padding: 10px;
    margin: 7px auto;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-pick div {
    width: 50%;
    justify-content: center;
}
.book-pick img {
    width: 90%;
    border-radius:8px;
}
.book-pick div p {
    font-size: 12px;
    text-align: left;
    padding: 4px;
}

.book-pick div h5 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 16px;
    padding: 3px;
    margin: 3px;
}

.book-pick div h6 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 14px;
    padding: 3px;
    margin: 3px;
}

.date-of-meet {
    color:#877C2F;
    font-style: italic;
}

.map {
    width: 85%;
    background-color: #fef8c6;
}

svg {
    background-color: #fef8c6;
    fill:#63372C;
    width: 100%
}

.visited {
    fill:#90AB4E
}

.visited:hover {
    fill:#bac899
}

.visited:focus {
    fill:#bac899
}

.map-container {
    width: 100%;
    background-color: #fef8c6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.country-box {
    
    min-width: 300px;
    justify-content: center;
    color:#63372C;
    text-align:center;
    background-color:#FFF59E;
    border: 1px dashed;
    border-radius:8px;
    padding: 7px;
    margin-bottom: 3px;
    max-width: 955px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.col img {
    width: 100%; 
    height: auto; 
    object-fit: contain; 
    border-radius: 8px;
    max-width: 100%;
  }

@media screen and (max-width:650px){
    .col{
        width:90%;
    }

    #welcome-info {
        width:90%;
    }
    .book-pick{
        width:90%;
    }
    .col2{
        width:100%;
        max-width: 100%;
    }
    .gen-container {
        flex-direction: column;
        align-items: center;
    }
}

.bookshop-button {
    font-family: "Roboto Mono", monospace;
    padding: 5px;
    margin: 3px;
    background-color: #63372C;
    color: #fff59e;
    border: 2px solid #fff59e;
    border-radius: 3px;
    font-size: 13px;
}

.bookshop-button:hover {
    background-color: #90AB4E;
    color: #63372C;
}